/* Prevents span and div being clickable and showing in event.target*/
li>* {
    pointer-events: none;
}


/* .display-order {
    display: flex;
} */
/* .display-order-item {
    margin-right: auto;
}


.display-order-count>span:nth-child(1) {
    float: left;
    text-align: left;
    width: 5rem;

} */