.select-order-container-grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
}

.select-order-right {
    background: mintcream;
    grid-column-start: 2;
    height: 100vh;
}

.select-order-left {
    padding: 1rem 5rem;
    font-weight: 100;
    background: #2b2a2a;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100vh;
}

.order-items-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
}

.order-container {
    color: white;
}

th {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    pointer-events: none;
}

tr {
    cursor: pointer;
}

.header {
    justify-self: center;
    font-weight: 500;
    border-width: 5px;
    border-color: white;
}

.number {
    width: auto;
    text-align: end;
}

.item {
    border-color: white;
}